.darkmode--activated html,

.darkmode--activated body,

.darkmode--activated input,

.darkmode--activated textarea,

.darkmode--activated select,

.darkmode--activated button {
    background-color: #181a1b;
    border-color: #736b5e;
    color: #B7B1A7;
}

.darkmode--activated .franklin-content {
    color: #181a1b
}

.darkmode--activated .initial-content {
    color: #181a1b;
    background-color: #181a1b;

}


.darkmode--activated #main {
    color: #181a1b;
    background-color: #181a1b;

}

.darkmode--activated .layout--single {
    color: #181a1b !important;
    background-color: #181a1b;

}

.darkmode--activated p {
    color: #B7B1A7;
}

.darkmode--activated .masthead {
    background-color: #181a1b;
}

.darkmode--activated ::placeholder {
    color: #b2aba1;
}


.darkmode--activated .greedy-nav .darkmode--activated .page__footer {
    background: #181a1b;
    color: #B7B1A7
}


.darkmode--activated .greedy-nav a {
    color: #B7B1A7;
}


.darkmode--activated h1 a,
.darkmode--activated h2 a,
.darkmode--activated h3 a,
.darkmode--activated h4 a,
.darkmode--activated h5 a,
.darkmode--activated h6 a {
    color: #B7B1A7 !important;
}

.darkmode--activated h1,
.darkmode--activated h2,
.darkmode--activated h3,
.darkmode--activated h4,
.darkmode--activated h5,
.darkmode--activated h6 {
    color: #B7B1A7 !important;
}

.darkmode--activated h1 a:visited,
.darkmode--activated h2 a:visited,
.darkmode--activated h3 a:visited,
.darkmode--activated h4 a:visited,
.darkmode--activated h5 a:visited,
.darkmode--activated h6 a:visited {
    color: #5197AD !important;
}

.darkmode-toggle {
    z-index: 999;
}